body
{
    background-color: #d0dadd;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}
.container a
{
    text-decoration: none;
    position: relative;
    background-color: #ffffff;
    border-radius: 18px;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--clr);
    overflow: hidden;
}
.container .icon
{
    font-size: 30px;
    transition: all 0.25s;
}
.container a:hover,
.container a:focus
{
    top: 0;
    left: 0;
}
.container a:hover .icon,
.container a:focus .icon
{
    transform: scale(1.2);
    color: #ffffff;
}
.container a::before
{
    content: " ";
    position: absolute;
    width: 130%;
    height: 130%;
    background-color: var(--clr);
    border-radius: 10px;
    left: -110%;
    top: 90%;
    transform: rotate(45deg);
    transition: 0.25s cubic-bezier(.3,-0.1,.4,1.8)
}
.container a:hover::before
{
    left: -15%;
    top: -10%;
}