body
{
    margin: 0;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgb(226, 192, 43);
}
.container
{
    width: 440px;
    height: 280px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .for,
.container .back
{
    height: 100%;
    width: 220px;
    position: absolute;
    left: 110px;
    transition: 0.5s;
}
.container .back
{
    background: linear-gradient(to top,#047ccc,#04a9cc);
    z-index: 1;
    color: #fff;
    width: 205px;
    padding-left: 15px;
}
.container .for
{
   object-fit: cover;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #fff;
   cursor: pointer;
   z-index: 2;
}
.container .for::before
{
   content: " ";
   position: absolute;
   clip-path: polygon(50% 30%, 0 100%, 100% 100%);
   background-color: #fff;
   width: 16px;
   height: 16px;
   transform: translateX(85px) rotate(90deg);
   transition: 0.5s;
}
.container .for img
{
    width: 80%;
    transition: 0.5s;
}
.container:hover .for
{
    transform: translateX(-110px);
}
.container:hover .for::before
{
    transform: translateX(115px) rotate(90deg);
}
.container:hover .for img
{
    transform: rotate(-30deg);
}
.container:hover .back
{
    transform: translateX(110px);
}
.container .back h2
{
    font-size: 20px;
}
.container .back h2 span
{
    font-size: 14px;
    opacity: 0.7;
}
.container .back .details h3
{
    font-size: 15px;
    margin-bottom: 5px;
    opacity: 0.9;
}
.container .back .details span
{
    font-size: 12px;
    opacity: 0.8;
    line-height: 0;
}
.container .back .size .text
{
    display: inline-block;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 5px;
}
.container .back .size .btn
{
    width: 25px;
    height: 25px;
    border-radius: 2px;
    display: inline-flex;
    border: 2px solid #fff;
    opacity: 0.8;
    font-size: 12px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.container .back .size .btn:hover
{
    color: #04a9cc;
    background-color: #fff;
}
.container .back .shop
{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.container .back .shop span
{
    font-size: 24px;
}
.container .back .shop a
{
    text-decoration: none;
    background-color: #fff;
    color: #04a9cc;
    font-size: 16px;
    padding: 8px 12px;
    border-radius: 4px;
}