:root
{
    font-size: 15px;
}
body
{
    min-height: 100vh;
    background-image: linear-gradient(-45deg,#A5036E,#DC3E5E);
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.container
{
    position: relative;
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    transform: rotate(-36deg);
    animation: rotation 1.5s linear infinite;
    animation-play-state: paused;
}
.container:hover
{
    cursor: wait;
    animation-play-state: running;
}
.container .character
{
    position: absolute;
    left: 45%;
    font-size: 1.2rem;
    border-radius: 50%;
    font-family: monospace;
    color: #d68df3;
    display: inline-block;
    height: 4rem;
    transform-origin: bottom center;
}
.container .character:nth-child(2)
{
    transform: rotate(12deg);
    
}
.container .character:nth-child(3)
{
    transform: rotate(24deg);
    
}
.container .character:nth-child(4)
{
    transform: rotate(36deg);
    
}
.container .character:nth-child(5)
{
    transform: rotate(48deg);
    
}
.container .character:nth-child(6)
{
    transform: rotate(60deg);
    
}
.container .character:nth-child(7)
{
    transform: rotate(72deg);
    
}
@keyframes rotation 
{
    100%
    {
        transform: rotate(324deg);
    }
}