body{
    margin: 0;
    padding: 0;
    height: 833px;
    background: rgb(13, 1, 34);
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.container{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    min-width: 300px;
}
.ring{
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 4px solid transparent;
    margin: -35px;
}
h2{
    position: absolute;
    color: white;
    font-size: 30px;
    top: 150px;
}
.ring:nth-child(3){
    position: absolute;
    top: -66.66px;
    border-top: 4px solid yellow;
    animation: animate 2s infinite linear;
}
.ring::before{
    content: " ";
    position: absolute;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    left: 125px;
    top: 15px;
    box-shadow: 0 0 15px 1px rgba(79, 177, 235, 0.6);
    box-shadow: 0 0 20px 4px rgba(59, 166, 228, 0.5);
    box-shadow: 0 0 25px 7px rgba(31, 142, 206, 0.4);
}
.ring:nth-child(1){
    border-top: 4px solid purple;
    animation: rotate 2s infinite linear;
    animation-delay: -0.3s;
}
.ring:nth-child(2){
    border-top: 4px solid green;
    animation: rotate 2s infinite linear;
    animation-delay: -1.3s;
}
.ring:nth-child(3)::before{
    background-color: yellow;
    left: 10px;
}
.ring:nth-child(2)::before{
    background-color: green;
}
.ring:nth-child(1)::before{
    background-color: purple;
}
@keyframes rotate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
@keyframes animate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(-360deg);
    }
}
