body
{
    padding: 0;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 30%;
    height: 25%;
    padding: 10px 0;
    column-gap: 20px;
}
.container .buy,
.container .disabled,
.container .submit
{
    position: relative;
    flex-basis: 40%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .submit
{
    flex-basis: 80%;
}
.default-btn
{
    all: unset;
    text-align: center;
    position: relative;
    width: 150px;
    height: 50%;
    border-radius: 6px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.2s;
}
.buy-btn
{
    background-color: rgba(23, 128, 197, 0.7);
    box-shadow: 0 8px rgba(23, 128, 197);
}
.disabled-btn
{
    background-color: rgba(128, 128, 128, 0.7);
    box-shadow: 0 8px grey;
    cursor: default;
}
.submit-btn
{
    background-color: rgba(0, 128, 0, 0.7);
    box-shadow: 3px 6px green;
}
.buy-btn:active
{
    transform: translateY(4px);
    box-shadow: 0 4px rgba(23, 128, 197);
}
.submit-btn:active
{
    transform: translateY(4px) translateX(2px);
    box-shadow: 1px 2px green;
}
