.hamburger-container
{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 0.3px solid rgba(0, 0, 0, 0.3);
}
.hamburger-icon
{
    padding: 15px;
    cursor: pointer;
}
.hamburger
{
    position: relative;
    width: 25px;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 8px;
    transition: 0.5s;
}
.hamburger::before,
.hamburger::after
{
    content: " ";
    position: absolute;
    width: 25px;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 8px;
    transition: 0.5s;
}
.hamburger::after
{
    top: 7px;
}
.hamburger::before
{
    top: -7px;
}
.hamburger-icon.active .hamburger
{
    background-color: rgba(0, 0, 0, 0);
}
.hamburger-icon.active .hamburger::before
{
    transform: rotate(45deg);
    top: 0;
}
.hamburger-icon.active .hamburger::after
{
    transform: rotate(135deg);
    top: 0;
}